body{
	background-color: ivory;
	font-size: 1.5em;
	font-family: "Lucida Console", "Courier New", monospace;

}

div{
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

#answer1, #answer2, #answer3, #answer4{
	visibility: hidden;
}


#panel, #flip {
  padding: 20px;
  text-align: center;
  background-color: SaddleBrown;
  border: solid 2px black;
}

#panel {
  padding: 20px;
  display: none;
 background-color: tomato; 
}

#ani {
	visibility: hidden;
	text-align:center;
	background: tomato;
	height: 100px;
	width: 100px;
	position: absolute;
}