body{
	background-color: ivory;
	font-size: 1.5em;
	font-family: "Lucida Console", "Courier New", monospace;

}
div{
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}
#answer1{
	visibility: hidden;
}
#answer2{
	visibility: hidden;
}
#answer3{
	visibility: hidden;
}
#answer4{
	visibility: hidden;
}
#answer5{
	visibility: hidden;
}
